@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Pinyon+Script&display=swap');

@theme {
  --color-botanico: #2D5A27;
  --color-salvia: #84A98C;
  --color-verde: #c4dcc9ff;
  --color-terracota: #E07A5F;
  --color-creme: #F8F9FA;
  
  --font-logo: "Cinzel Decorative", serif;
  --font-detalhe: "Pinyon Script", cursive;
}